@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700);


#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  background-color: #000000;
  z-index: 500;
  text-align: center;
  overflow-x: hidden;

}

#loading-image {
  text-align: center;
	margin-top: 25%; 
  z-index: 501;
}

.wrapper {
	width: 100%;
	overflow-x: hidden;
	padding: 0;
	margin:0;
}


*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@charset "UTF-8";
/* CSS Document */

body{
	height: 100%;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
	background-color: #FFFFFF;
}


.limiter {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	
}

@media only screen and (min-width: 0px) {
	.limiter {
		max-width: 1080px;

 }
}

@media only screen and (min-width: 2000px) {
	.limiter {
		max-width: 1600px;

 }
}

a:link {
	outline: none;
    text-decoration: none;
	color: #FFFFFF;
}

a:visited {
	outline: none;
    text-decoration: none;
	color:#FFFFFF;
}

a:hover {
	outline: none;
    text-decoration: none;
}

a:active {
	outline: none;
    text-decoration: none;
	color:#FFFFFF;
}


/*---------------------------------------------------------------------------------------- NAV BAR -------------------------------------- */

/*---controls navbar backgorund opacity and borderstlye */

 .navbar-default {
 	background-color: rgba(0, 0, 0, .15);
 	border: none;
 }



 .nav  img {
 	margin-top: -8px;
 }

.navbar .nav  li  a {
	color: #ffffff;

}

.navbar .nav  li  a:hover {
	color: #ffffff;

}


 #mainnav {
 	margin-top: 25px;
 	position: relative;  
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 300;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);


 }

 .headerimage {
 	margin-left: 5px;
 }

@media only screen and (min-width: 0px) {
	#mainnav {
		font-size: 1em;
		letter-spacing: 1.8px;

 }
}

@media only screen and (min-width: 1000px) {
	#mainnav {
		font-size: 1em;
	letter-spacing: 5px;
 }
}

#facebook {
	width: 20px;
	height: 20px;
}

#twitter {
	width: 20px;
	height: 20px;
}

 .effect a {
	padding: 10px;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}


.effect a::before,
.effect a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.effect a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.effect a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.effect a:hover,
.effect a:focus {
	color: #ffffff;

}

.effect a:hover::before,
.effect a:focus::before,
.effect a:hover::after,
.effect a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}



/*------------------------------------------------------------------- Video/mobile jumbtron -------------------------------------- */

@media only screen and (min-width: 0px) {
	.vidtext {
		margin-top: 10%; 
}
}

@media only screen and (min-width: 600px) {
	.vidtext {
	margin-top: 15%; 
}
}

 video {
	position: fixed;
	top:0; 
	right: 0; 
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -100;	
}



.vidtext {
	margin-bottom: 10%;
	text-align: center;
	z-index: 50;

}


.vidtext h1{
	font-size: 65px;
	font-weight: 300;
	letter-spacing: 5px;
	color: #FFFFFF;
}

hr {
	width: 30%;
}

#mobileimage{
	position: fixed;
	height: 100%;
	min-width: 100%;
	top:0;
	z-index: -500;	
}


/*------------------------------------------------------------------- green bar -------------------------------------- */

@media only screen and (min-width: 0px) {
	.greenbar {
		margin-top: 0px;
		height: auto;
}
#greencopy {
		font-size: 120%;
	}

}

@media only screen and (min-width: 500px) {
		.greenbar {
			margin-top: 25%;
			height: auto;
	}
		#greencopy {
		font-size: 250%;
	}


}
 
@media only screen and (min-width: 1000px) {
	
	#greencopy {
	font-size: 500%;
}

}


.greenbar {
	width: 100%;
	background-color: #738f44;
	text-align: center;
	overflow-x: hidden;
}


#greencopy {
	position: relative;
	width: 100%;
	color: #FFFFFF;
	letter-spacing: 5px;
	font-weight: 100;
	margin-right: auto;
	margin-left: auto;
	padding: 5%;
}

#build {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0);
	border-width: 2px;
	color: #FFFFFF;
	letter-spacing: 1px;

}

#build:hover  {
	color: #000000;	
	background: #FFFFFF;
	-o-transition:color .5s ease-out, background .5s ease-in;
  	-ms-transition:color .5s ease-out, background .5s ease-in;
  	-moz-transition:color .5s ease-out, background .5s ease-in;
  	-webkit-transition:color .5s ease-out, background .5s ease-in;
  	transition:color .5s ease-out, background .5s ease-in;

}



/*------------------------------------------------------------------- cube grid -------------------------------------- */


@media only screen and (min-width: 0px) {
	.leftimage {
	 	width:100%;
	 	height: 200px;
	 	background-size: cover;
	 	background-position: 0px 50%; 
	 }

	 .rightimage {
	 	width: 100%;
	 	height: 200px;
		background-size: cover;
		background-position: 0px 50%; 
	}

	

	.righttext {
		float: 0;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		width:90%;
	
	}

	.philosophy{
		margin-top: 50px;
	}

	.lefttext {
		float: 0;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		width:90%;
	}

	.testimonial {
		margin-top: 50px;
	}

	.top {
		margin-bottom: 80px;
	}


}



@media only screen and (min-width: 1000px) {
	.leftimage {
	 	width:50%;
	 	height: 500px;
	 	background-size: cover;
	 	background-position: 0px 0px; 
	 }

	 .rightimage {
		height: 500px;
		width: 50%;
		background-size: cover;
		background-position: 0px 0px; 
	}

	.righttext {
		float: right;
		width:50%;
	}

	.philosophy{
		margin-top: 10%;
	}


	.lefttext {
		float: left;
		width:50%;
	}

	.testimonial {
		margin-top:20%;
	}

	.top {
	margin-bottom: 0px;
	}

	.whitespace {
		height: auto;
	}
}



.whitespace {
	overflow-x: hidden;
	background-color: #ebebeb;

}

.leftimage {
	
	float: left;
	background-image:url('images/leftimage.jpg');
	
}

.leftimage img {
	width: 100%;
}

.righttext {
	height: 500px;
	
}

#contact1 {
	padding: 8px;
	background-color: rgba(0, 0, 0, 0);
	border-width: 2px;
	color: #000000;

}

#contact1:hover  {
	color: #FFFFFF;	
	background: #999999;
	-o-transition:color .5s ease-out, background .5s ease-in;
  	-ms-transition:color .5s ease-out, background .5s ease-in;
  	-moz-transition:color .5s ease-out, background .5s ease-in;
  	-webkit-transition:color .5s ease-out, background .5s ease-in;
  	transition:color .5s ease-out, background .5s ease-in;

}

.rightimage {
	float: right;
	background-image:url('images/rightimage.jpg');
}



.lefttext {
	height: 500px;
	
}

.philosophy {
	position: relative;
	width: 80%;
	float: right;
	margin-right: 10%;
	
}

.testimonial{
	position: relative;
	width: 80%;
	float: left;
	margin-left: 10%;
	margin-bottom: 50px;

}





/*------------------------------------------------------------------- infobar -------------------------------------- */


.infobar {
	position: relative;
	height: 200px;
	width: 100%;
	text-align: center;
	background-color: #FFFFFF;
	padding: 60px;

}


.infobar img{
	opacity: .5;
}



.infocopy{
	margin-top: 10px;
	font-size: 18px;
	color: #000000;
}


/*------------------------------------------------------------------- interior/exterior -------------------------------------- */


@media only screen and (min-width: 0px) {
  .exteriorimage {
		width: 105%;	
	}

	.interiorimage {
		width: 105%;	
	}
	
	.exteriortxt {
		position: absolute;
		margin-top: 5%;
		font-size: 300%;
		float: left;
		margin-left: 50%;
		left: -112px;
	}
	
	
	.interiortxt {
		position: absolute;
		margin-top: 39%;
		font-size: 300%;
		float: right;
		margin-right: 0;
		margin-left: 50%;
		left: -110px;
	}
	
}


@media only screen and (min-width: 400px) {	
	.exteriortxt {
		position: absolute;
		margin-top: 12%;
		font-size: 300%;
		float: left;
		margin-left: 50%;
		left: -100px;
	}
	
	
	.interiortxt {
		position: absolute;
		margin-top: 45%;
		font-size: 300%;
		float: right;
		margin-right: 0;
		margin-left: 50%;
		left: -100px;
	}

	
	
}

@media only screen and (min-width: 768px) {
  
  .exteriorimage {
		width: 50%;	
		
	}

	.interiorimage {
		width: 50%;
			
	}
	
	.exteriortxt {
		position: relative;
		margin-top: -11%;
		font-size: 300%;
		float: left;
		margin-left: 12%;
		left: 0;
	}
	
	
	.interiortxt {
		position: relative;
		margin-top: -11%;
		font-size: 300%;
		float: right;
		margin-right: 12%;
		margin-left: 0;
		left: 0;
	}


	}
	
	@media only screen and (min-width: 1400px) {
  
  .exteriorimage {
		width: 50%;	
		
	}

	.interiorimage {
		width: 50%;
			
	}
	
	.exteriortxt {
		position: relative;
		margin-top: -13%;
		font-size: 300%;
		float: left;
		margin-left: 12%;
		left: 0;
	}
	
	
	.interiortxt {
		position: relative;
		margin-top: -13%;
		font-size: 300%;
		float: right;
		margin-right: 12%;
		margin-left: 0;
		left: 0;
	}


	}
	
	@media only screen and (min-width: 1700px) {
  
  .exteriorimage {
		width: 50%;	
		
	}

	.interiorimage {
		width: 50%;
			
	}
	
	.exteriortxt {
		position: relative;
		margin-top: -16%;
		float: left;
		margin-left: 12%;
		left: 0;
	}
	
	
	.interiortxt {
		position: relative;
		margin-top: -16%;
		float: right;
		margin-right: 12%;
		margin-left: 0;
		left: 0;
	}


	}
	

@media only screen and (min-width: 2000px) {
	
 	.exteriortxt {
		margin-top: -13%;
		float: left;
		font-size: 500%;
		margin-left: 12%;
		left: 0;
	}
	
	
	.interiortxt {
		margin-top: -13%;
		float: right;
		font-size: 500%;
		margin-right: 12%;
		margin-left: 0;
		left: 0;
	}
	
}

@media only screen and (min-width: 2200px) {
  
	
	.exteriortxt {
		margin-top: -15%;
		float: left;
		font-size: 500%;
		margin-left: 12%;
		left: 0;
	}
	
	
	.interiortxt {
		margin-top: -15%;
		float: right;
		font-size: 500%;
		margin-right: 12%;
		margin-left: 0;
		left: 0;
	}


	}

.exteriortxt {
	z-index: 5;

}

.interiortxt {
	z-index: 5;
}

.exteriorimage {
	position:relative;
	float: left;
	
	overflow: hidden;
	
}


.interiorimage {
	position:relative;
	float: left;
	overflow: hidden;

}

.zoom img {
	-webkit-transition: -webkit-transform 2s;
	transition: transform 2s;
	-webkit-transform: translate3d(-30px,0,0) scale(1.12);
	transform: translate3d(-30px,0,0) scale(1.12);
}


.zoom:hover img {
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}



/*------------------------------------------------------------------- contact blocks -------------------------------------- */
@media only screen and (min-width: 0px) {
	.block {
		width: 100%;
		margin-top: 10px;
	}

	.contain {
		height: 650px;
	}
}

@media only screen and (min-width: 770px) {
	.block {
		width: 30%;
		margin-top: 130px;
	}
	.contain {
		height: 500px;
	}

}


.contain {
	width: 100%;
	background-color: #ffffff;
	display: inline-block;
	text-align: center;


}

.block {
	display: inline-block;
	height: 200px;
	background-color: #666666;
	padding: 50px;
	margin-right: 10px;
	color: #FFFFFF;
	font-size: 18px;
	vertical-align:top;
	text-align: center;
	-webkit-filter: invert(0%);
	-moz-filter: invert(0%);
	filter: invert(0%);
	-webkit-transition: all 1s ease-in-out;
  	-moz-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
	
}

.block:hover {
	color: #FFFFFF;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    -webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	filter: invert(100%);

}


/*------------------------------------------------------------------- footer -------------------------------------- */


.footer {
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	background-color: #FFFFFF;

}

.footer-about {
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
}

.footer-gallery {
	position: relative;
	width: 100%;
	text-align: center;
	overflow-x: hidden;

}

.footer-contact {
	position: relative;
	width: 100%;
	text-align: center;
}

.socialmedia {
	text-align: center;
	width: 100%;
	height: auto;
}

.mediaicon {
	display: inline-block;
	margin: 5px 5px 20px 5px;
}



/*------------------------------------------------------------------- ABOUT PAGE -------------------------------------- */

@media only screen and (min-width: 0px) {
	.box {
	font-size: 40px;
	padding: 1%;
	margin-left: -10px;

	}
}

@media only screen and (min-width: 1030px) {
	.box {
	font-size: 80px;
	padding: 5%;

	}
	}

.placeholder {
	width: 40%;
	max-width: 600px;
	min-width: 300px;
}





.box {
	text-align:center;
	background-color: rgba(50, 50, 50, .8);
	color: #fff;
	opacity: .9;	
	margin-bottom: 10%;	
	margin-top: 10%;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 300;
}


.box span{
	font-weight: 700;
}


.aboutheader {
	position: absolute;
	width: 100%;
	overflow-x: hidden;
	top: 0;

}

.aboutheader img {
	min-height: 500px;
	min-width: 1600px;
	z-index: -500px;
}


.aboutblock {
	position: relative;
	margin-top: 5%;
	width: 100%;
	height: 500px;
	background-color: #FFFFFF;

}

.aboutcopy {
	padding-top: 30px;
	width: 80%;
	max-width: 500px;
	float: left;
	padding-left: 20px;
	font-size: 18px;
	margin-left: 10px;
	padding-bottom: 30px;

}

@media only screen and (min-width: 0px) {
	.about-img {
		width: 100%;
		float: 0;
	}
}

@media only screen and (min-width: 1100px) {
	.about-img {
		width: 50%;
		float: right;
	}
}



.about-img {
	padding-top: 100px;
}

.about-img img{
	float: right;
	width: 100%;
}



/*------------------------------------------------------------------- GALLERY PAGE -------------------------------------- */
@media only screen and (min-width: 0px) {
	

	

	.exteriorli {
		width: 100%;
		height: auto;
		margin: 0px 0px 10px 0px;
	}
	
	.exteriorli img{
		max-width: 100%;
	}

	.interiorli {
		width: 100%;
		height: auto;
		margin: 0px 0px 10px 0px;

	}
	
	.interiorli img{
		max-width: 100%;
	}





}



@media only screen and (min-width: 768px) {
	


	.exteriorli {
	margin: 10px;
	width: 300px;
	height: 200px;
	}
	
	.exteriorli img{
	
	width: auto;
	max-width: 200%;
	}

	.interiorli {
	margin: 10px;
	width: 300px;
	height: 200px;
	}
	
	.interiorli img {
	width: auto;
	max-width: 200%;
	}
}



@media only screen and (min-width: 2000px) {
	

	.exteriorli {
	width: 370px;
	height: 300px
	}
	
	.exteriorli img{
	width: 500px;
	height: auto;
	}

	.interiorli {
	width: 370px;
	height: 300px;
	}
	
	.interiorli img{
	width: 500px;
	height: auto;
	}


}



.galleryheader {
	position: absolute;
	top: 0;
	width: 100%;
	overflow-x: hidden;

}

.galleryheader img {
	min-height: 500px;
	min-width: 1600px;
}

.background {
	position: relative;
	width: 100%;
	height: 500px;
	background-color: #FFFFFF;
}

.backgroundcolor: {
	 width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
    background-color: #FFFFFF;
}




.leftnav-xs h3{
	color: #000000;

}



.centerbox {	
	width: 100%;
	height: auto;

}

.leftnav-xs {
	list-style: none;
	width: 100%;
	text-align: center;
	padding: 0;
	
}

.leftnav-xs li{
	display: inline-block;

}

#middlebar {
	font-size: 35px;
}

#ext {
	margin-top: 30px;
}

#int {
	margin-top: 30px;
}

#ext a  {
	color: #000000;
	font-weight: 300;
	font-size: 30px;

}

#int a  {
	color: #000000;
	font-weight: 300;
	font-size: 30px;
}

.imagelist {
	list-style: none;
	margin-top: 20px;
	text-align: center;
	padding: 0;

}


.imagelist li{
	display: inline-block;	
	vertical-align:top;
}
/*--------------------- exterior list -----------*/


.exteriorli {
	overflow: hidden;
		
}


.exteriorli img{
	overflow: hidden;

}


/*--------------------- interior list -----------*/



.interiorli {
	overflow: hidden;	
}

.interiorli img{
	overflow: hidden;	
}


/*------------------------------------------------------------------- CONTACT PAGE -------------------------------------- */



#contact {
	background-color: #FFFFFF;
}

#contact:hover {
	color: #000000;	
}

.contactcontain {
	width: 100%;
	height: 600px;
	text-align: center;
	margin-left: -100px;
	margin-top: 100px;
		
}

.formcontrol ul {
	list-style: none;
}

.formcontrol ul li {
	margin: 5px;
}

.formcontrol-xs {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 100%;	
	margin-top: 50px;
}

.infocontain {
	margin-top: 50px;
	width: 50%;
	text-align: right;
}

.formcontain {
	width: 50%;
	text-align: left;
}




#name {
	min-width: 300px;
	width: 50%;	
	font-weight: 300;
}


#phone {
	min-width: 300px;
	width: 50%;
	font-weight: 300;
}

#email {
	min-width: 300px;
	width: 50%;	
	font-weight: 300;
}


#message {
	min-width: 300px;
	width: 50%;	
	font-weight: 300;	
}


#submitButton {
	background-color: #738f44;	
	border: none;
	font-weight: 300;	
}

.contactheader {
	position: absolute;
	width: 100%;
	overflow: hidden;
	top: 0;

}

.contactheader img {
	height: auto;
	min-width: 1600px;
	z-index: -500px;
}


