 [[!FormIt?
       &hooks=`spam, email`
       &emailFrom=`[[++primary_email]]`
       &emailTpl=`snt_from`
       &emailTo=`justin.lobaito@weloideas.com, [[++primary_email]], cooper@ten25designs.com`
       &emailSubject=`Contact Form Submission`
       &validate=`phone:required,  name:required,  email:required, email:email, message:required:stripTags, nospam:blank`
      &successMessage=`<div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3>Thank you for getting in contact with us.</h3>
      <p>A [[++site_name]] representative will get in contact with you shortly</p>
    </div>`
    ]]

   [[!+fi.validation_error_message:!empty=`


<div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
		<div>
		      <strong><h3>Please review the following errors:</h3></strong>
		            [[!+fi.error.name:!empty=`<p>Your Name is required</p>`]]
		            [[!+fi.error.email:!empty=`<p>Email Address is required</p>`]]
		            [[!+fi.error.phone:!empty=`<p>Phone Number is required</p>`]]
					[[!+fi.error.message:!empty=`<p>A Brief is required</p>`]]

		</div>
</div>


`]]
    [[!+fi.successMessage]]

<h2>Contact Us</h2>
                        <form name="enq" action="[[~[[*id]]]]" method="post">
                    <fieldset>
                          <p><input type="text" name="name" id="name" value="[[!+fi.name]]"  class="input-block-level" placeholder="Name" /></p>
                        <p><input type="text" name="phone" id="phone" value="" class="input-block-level" placeholder="Phone Number" /></p>
                        <p><input type="email" value="[[!+fi.email]]" id="email" name="email" class="input-block-level" placeholder="Email" /></p>
                        <input value="[[!+fi.nospam]]" type="hidden" id="nospam" name="nospam" class="nospam">
                      <p> <textarea  value="[[!+fi.message]]" rows="11" name="message" id="message" class="input-block-level" placeholder="Comments"></textarea></p>
                        <p><input type="submit" value="Send Your Message" name="submit" id="submitButton" class="btn btn-info" title="Click here to submit your message" /></p>
                    </fieldset>
                
                </form>