<div class="row">
  <div class="footer">
    <div class="socialmedia">
      <div class="mediaicon">
        <a href="[[++houzz]]"><img src="images/houzzz.png"></a>
      </div>

      <div class="mediaicon">
        <a href="[[++facebook]]"><img src="images/facebook2.png"></a>
      </div>

      <div class="mediaicon">
        <a href="[[++twitter]]"><img src="images/twitter2.png"></a>
      </div>

      <div class="mediaicon">
        <a href="[[++vimeo]]"><img src="images/vimeo.png"></a>
      </div>
    </div>
    5555 NW 52nd St. Des Moines IA, 50312<br>
    515-356-7890<br>
    info@lifestyledev.com<br>
    &copy; Lifestyle Development 2014 
  </div>
</div>