<div class="row">
      <div id="nav">
        <nav class="navbar navbar-default navbar-static-top "  role="navigation">
            <div class="limiter">
          <!-- hidden nav button --> 
                <div class="navbar-header">
             
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    
                  <div class="headerimage pull-left">
                         <a href="/"><img  src="images/headerlogo.png" class="img-responsive" alt=""/></a> 
                  </div>
                    
                    
              </div>


      <!-- Main nav buttons -->

                    <ul class="nav navbar-nav pull-right hidden-xs effect" id="mainnav">
                        <li><a href="about">ABOUT</a></li>
                        <li><a href="gallery">GALLERY</a></li>
                        <li><a href="contact">CONTACT</a></li>
                        <li><a href="[[++login-url]]">LOGIN</a></li> 
                        <li><a  href="[[++facebook]]"><img id="facebook" src="images/facebook.png"></a></li>
                        <li><a  href="[[++twitter]]"><img id="twitter" src="images/twitter.png"></a></li>
                    </ul> 

      <!-- Mini nav buttons -->

                <div class="collapse navbar-collapse" id="collapse">
                    <ul class="nav navbar-nav  visible-xs" id="mininav">
                        <li><a href="about"><h3>ABOUT</h3></a></li>
                        <li><a href="gallery"><h3>GALLERY</h3></a></li>
                        <li><a href="contact"><h3>CONTACT</h3></a></li>
                        <li><a href="[[++login-url]]"><h3>LOGIN</h3></a></li>  
                    </ul>

                </div>
                </div>
          </nav>         
        </div>
    </div> 