[[$doc_head]]

<body>

<div class="container-fluid">
     
      <!-- row 1: navigation -->
    [[$header]]

<div class="row">
    <div class="aboutheader">

       <img class="img-responsive" src="[[*header-image]]">

    </div>
</div>
<div class="placeholder limiter">
    <div class="box">
      About<span> Us</span>
    </div>
</div>

<div class="row">
  <div class="aboutblock">
    <div class="limiter">
      <div class="aboutcopy">
        [[*content]]
      </div>

      <div class="about-img"><img src="images/aboutpage/couple.jpg"></div>

    </div>
  </div>
</div>

[[$footer]]

</div>
[[$doc_footer]]
