[[$doc_head]]

<body>



<div class="container-fluid">
     
[[$header]]


<div class="row">
    <div class="contactheader">

       <img class="img-responsive" src="[[*header-image]]">

    </div>
</div>


<div class="limiter row hidden-xs">
    <div class="contactcontain">
    
    
    <div class="infocontain col-lg-6 col-md-6 col-sm-6">
    
          <p><b> Lifestyle Development</b></p>
            <p>1234 59th St </p>
            <p>Des Moines, Iowa 50325</p>
            <p>515.314.3148</p>
            <p><b>info@lifestyledev.com</b> </p>
   
      </div>
        <div class="formcontain col-lg-6 col-md-6 col-sm-6">
            [[$contact_form]]
        </div>
        
      
    </div>
</div>




<div class="limiter row visible-xs">
  
  
            
           <div class="formcontrol-xs">
              [[$contact_form]]
            
            </form> 
        
          
        
        
        
          <p> <b> Lifestyle Development</b></p>
            <p>1234 59th St </p>
            <p>Des Moines, Iowa 50325</p>
            <p>515.314.3148/p>
            <p>info@lifestyledev.com</b> </p>
       
  
         </div>  
     </div>  

    
[[$footer]]







</div>
[[$doc_footer]]
