[[$doc_head]]

<body>



<div class="container-fluid">
      <!-- row 1: navigation -->
[[$header]] 

<div class="row">
    <div class="galleryheader">
       <img class="img-responsive" src="[[*header-image]]">
    </div>
</div>


<div class="row">
  <div class="background"> 
    <div class="limiter">
    
      
        <ul class="leftnav-xs">
          <li><div id="ext"><a href="javascript:void(0)" onClick="getName('exterior')">Exteriors</a></div></li>
          <li><div id="middlebar">|</div></li>
         <li><div id="int"><a href="javascript:void(0)"  onClick="getName('interior')">Interiors</a></div></li>
        </ul>
    


  <div class="centerbox">
		<ul class="imagelist">
      [[Gallery? 
          &album=`Exterior`
          &thumbTpl=`gallery_item_exterior`
          &thumbHeight=`200`
          &thumbWidth=`500`
          &thumbFar=`BR`
          &imageWidth=`1000`
      ]]
      [[Gallery? 
          &album=`Interior`
          &thumbTpl=`gallery_item_interior`
          &thumbHeight=`200`
          &thumbWidth=`500`
          &thumbFar=`BR`
          &imageWidth=`1000`
      ]]
        
        </ul>

      </div>
    </div>
  </div>
</div>
</div>











</div>

[[$doc_footer]]
