[[$doc_head]]

<body>
<div class="wrapper">


<div class="row">
  <div id="loading">
       <img id="loading-image" src="images/loading.gif" alt="Loading..." />
  </div>
</div>

<div class="container-fluid">
     
      <!-- row 1: navigation -->
    [[$header]]

    

<!-- video jumbotron -->

  <div class="row">
    <div class="vidtext">
        
            <h1>Custom Homes</h1>
          
        <a href="#arrow"><img src="images/whitearrow.png"></a>
    </div>

    <div class="hidden-sm hidden-xs hidden-md">
        <video  loop autoplay>
             <source src="[[*video-mp4]]" type="video/mp4">
        	   <source src="[[*video-ogv]]" type="video/ogg">
        </video>
    </div>
    
       <img class="visible-xs visible-sm visible-md" id="mobileimage" src="[[*header-image]]">
 

  </div>

<!-- green bar -->

  <div class="row">
      <div class="greenbar">
      <a name="arrow"></a>
          <div id="greencopy">
            <p>Trust.Quality.Value.Style</p>
            <a href="/contact"><button id="build" type="button" class="btn btn-default " >Build With Us</button></a>
              
      </div>
    </div>
  </div>

<!-- box grid-->

<a class="scroll" href="#destination1"></a>
<div class="row whitespace">
  <div class="row top">
      <div class="leftimage">

      </div>
<div class="limiter">
      <div class="righttext">
        <div class="philosophy">
          <h1>OUR PHILOSOPHY</h1>
         [[*philosophy]]<p></p>
          <a href="/contact"><button id="contact1" type="button" class="btn btn-default " >Contact Us</button></a>
        </div>
      </div>
  </div>
</div>

<div class="row">
    <div class="rightimage">
  
    </div>
<div class="limiter">
      <div class="lefttext">
          <div class="testimonial">
           [[*testimonial]]

          </div>
      </div>
    </div>
  </div>
</div>


<!-- info bar -->

<div class="row">
  <div class="infobar">
    <a href="/about">
      <img  src="images/infoicon.png">
        <div class="infocopy">
          learn more about our custom homes 
        </div>
    </a>
  </div>
</div>

<!-- interior/exterior -->

<div class="row">
   
      <div class="exteriorimage zoom">
          <img class="img-responsive" src="images/exterior.jpg"  alt=""/>
      </div>
      <div class="interiorimage zoom">
          <img class="img-responsive" src="images/interior.jpg" alt=""/>
      </div>
   
      <div class="limiter">
          <div class="interiortxt">
              <a href="/gallery"><b>IN</b>TERIORS</a>
          </div>
                 
          <div class="exteriortxt">
              <a href="/gallery"><b>EX</b>TERIORS</a>
          </div>
      </div>  
  </div>


<!-- contact squares -->

<div class="row">
  <div class="contain">
    <div class="limiter">

      <div class="block">
          <img src="[[*location-icon]]"><br></br>
          [[*location-text]]
      </div>

      <div class="block">
          <img src="[[*phone-icon]]"><br></br>
         [[++telephone]]
      </div>

       <div class="block">
          <img src="[[*mail-icon]]"><br></br>
          [[++primary_email]]
      </div>
    
    </div>
  </div>
</div>

<!-- footer -->

[[$footer]]


</div>
</div>

</div>
[[$doc_footer]]
